@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
.jira-assist-dragdrop {
  transition: all .2s linear;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 99999999999;
  font-size: 38px;
  color: transparent;
  text-shadow: 0 0 8px #000;
  text-align: center;
  font-family: 'Lato', 'helvetica neue', helvetica;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding-top: 24%;
  font-weight: lighter;
  display: none;
}
