
.fc-event-time {
  display:none;
}

nav.disconnected .connected {
	display: none;
}
nav.connected .disconnected {
	display: none;
}

.issue-popover {
	min-width: 300px;
}

li.dropdown > a.dropdown-toggle {
	padding: 10px 5px;
}

.badge{
	margin: 0 -10px 0 10px;
}